<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.umn.mobile.snaptap">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.front" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".RecognizeActivity" />
        <activity android:name=".SuccessActivity" />
        <activity android:name=".FailedActivity" />
        <activity android:name=".LogActivity" />
        <activity android:name=".UpdateProfileActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".AddUserActivity" />
        <activity android:name=".CameraAdminActivity" />
        <activity android:name=".EnrollActivity" />
        <activity android:name=".SuccessEnrollActivity" />
        <activity android:name=".FailedEnrollActivity"></activity>
    </application>

</manifest>